BODY {
	background-color: #C69FD5;
	background-image: url('../img/sakura.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;


p{
	text-align: justify;
	text-shadow: 1px 1px 2px white, 0 0 1em pink;
}
h1 {
	background-color: rgb(255,209,220);
}
h2 {
	color:azure;

}
h3{
	color: azure;
}
}


