
body {
    background-color: #C69FD5;
    background-image: url('../img/flowers.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h1{
      background-color:#FCFDC8;
  }
  h3{
      color:azure;
  }
p {
    color: aliceblue;
    font-size: 16pt;
    text-align: justify;
    text-shadow: 1px 1px 2px green, 0 0 1em black;
    width: 50%;
    background-position: top left = left top = 0% 0%
}
}